.media{
    height: 200px;
    width: 1200px;
    background-color: red;
}
@media (max-width: 1000px){

    .media{
        width: 500px;
        background-color: blue;
    }
}

@media (max-width: 768px){

    .media{
        width: 300px;
        background-color: green;
    }
}

@media (max-width: 512px){

    .media{
        width: 200px;
        background-color: darkgray;
    }
}