.btn{
    display: block;
    position: relative;
    padding: 10px;
    margin-bottom: 25px;
    width: 150px;
    height: 75px;
    color: #fff;
    text-transform: uppercase;
    background-color: #333;
    border: 1px solid #333;
    cursor: pointer;
    text-align: center;
    transition: .4s;

}
.btn:hover{
   color: #333;
   background-color: #fff; 
}

.transition{
    background-color: aqua;
    width: 100px;
    height: 100px;
    transition: 3s;
    border: 1px solid #000;
}
.transition:hover{
    width: 400px;
    border: 1px solid rgb(255, 0, 0);
}


.div-calc{
    height: 250px;
    width: 500px;
    position: relative;
    margin: 20px;
    background-color: #ddd;
    border: 1px solid red;

}

.calc{
    height: 50px;
    margin: 10px;
    position: relative;
    background-color: red;
}

.div1{
    width: calc(50% + 50px);
}
.div2{
    width: calc(50% - 50px);
}
.div3{
    width: calc(20% * 3);
}
.div4{
    width: calc(50% / 2);
}
